<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Quattrocento:wght@700&display=swap"
        rel="stylesheet">
    <style>
        html,
        body {
            height: 80%;
            background-color: {{ backgroundColor }};
        }

        * {
            color: {{ textColor }};
        }

        .center {
            margin: auto;
            position: relative;
            text-align: center;
            top: 10%;
            width: 50%;
        }

        h1 {
            font-family: 'Quattrocento', serif;
            font-size: {{ titleSize }}pt;
        }

        p {
            font-family: 'Quattrocento Sans', sans-serif;
            font-size: {{ textSize }}pt;
        }

        .small {
            font-size: {{ smallTextSize }}pt;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>